/* GLOBAL STYLES */


/* Global color variables */
:root {
    --textLight: #cfcfcf;
    --textDark: #707070;
    --accent: #E49B0B;
    --accentTransparent: rgb(228, 155, 11, 0.85);
    --darkestColor: #131313;
    --blackOverlay: rgba(0, 0, 0, 0.8);
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: var(--textDark);
    line-height: 1.6;
}


/* styling for anchor tags, including hover effects */
a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;

    &:hover {
        color: var(--accent);
    }
}


/* NAVIGATION STYLES */

/* navigation container */
nav {
    display: flex;
    padding: 1% 7% 0 5%;
    justify-content: flex-end;
}

/* individual navigation items */
nav ul li {
    display: inline;
    margin: 0 15px;
    font-weight: bolder;
}

/* styling for links in the navigation */
nav a {
    color: var(--textLight);
    cursor: pointer;
}


/* HERO SECTION */

/* background styling for the header */
header {
    background-image: url("../assets/aleks_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    }


/* positioning */
#heroTitle {
    position: relative;
    left: 60vw;
    top: 50vh;
    width: 30vw;
}


/* text styling for the header */
header h1 {
    color: var(--accent);
    font-size: 2em;
}

header p {
    color: var(--textLight);
}



/* SECTIONS STYLE */

/* shared styles for the about and contact sections */
.about, .contact {
    padding: 70px 20vw 70px 20vw;
    text-align: center;
}

.about h2, .contact h2 {
    color: var(--accent);
}


/* MY WORK STYLE */

/* styling for the work section */
.work {
    background-color: var(--darkestColor);
    color: var(--textLight);
    text-align: center;
    padding: 70px 20vw 150px 20vw;
}

/* grid layout */
#workGrid {
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "featuredWork featuredWork"
    "pramed horiseon"
    "dadimas ksservice";
}

/* shared styles for the images */
#featuredWork, #pramed, #horiseon, #ksservice, #dadimas {
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

/* backgrounds for individual items in work section */
#featuredWork {
    grid-area: featuredWork;
    height: 600px;
    background-image: url("../assets/trollsvselves.jpg");
}

#pramed {
    grid-area: pramed;
    background-image: url("../assets/pramed.jpg");
}

#ksservice {
    grid-area: ksservice;
    background-image: url("../assets/ksservice.jpg");
}

#horiseon {
    grid-area: horiseon;
    background-image: url("../assets/horiseon.jpg");
}

#dadimas {
    grid-area: dadimas;
    background-image: url("../assets/dadimas.jpg");
}

/* container for the work grid items */
.workGrid {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* hidden description in the primary state */
.description {
    display: none;
}

/* styling for details container */
.details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 0;
        background-color: var(--accentTransparent);
        height: 25%;
        width: 100%;
        fill-opacity: 0.7;
        color: var(--darkestColor);
        flex-wrap: wrap;

        &:hover {
            height: 100%;
            transition: height 0.3s;
        }

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 400px;
            text-decoration: none;
            color: inherit;
        }
}

/* show description when hovered */
.details:hover .description {
    display: block;
    font-size: 0.8em;
    margin: 20px 10%;
    line-height: 1.4;
}

/* subheading styling in the work section */
h4 {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 0;
}


/* CONTACT STYLES */

/* styling for icons container */
.contact ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;

    li {
        display: inline;
    }
}

.contact a {
    font-weight: bold;
    text-transform: uppercase;
} 

.contact p {
    margin-bottom: 30px;
}

/* styling for icons, including hover effects */
svg {
    fill: var(--textDark);
    width: 32px;
    height: 32px;
    margin: 20px 10px 0 10px;

    &:hover {
        fill: var(--accent);
        transition: fill 0.3s;
    }
}


/* RESPONSIVE STYLES */

/* styles for screens up to 1000px in width */
@media only screen and (max-width: 1000px) {

/* change position of the nav */
    nav {
        display: flex;
        justify-content: space-around !important;
        margin: 0;
        padding: 0;
    }

/* add overlay and change position of the text and title in header */
    header {
        position: relative;
        z-index: 1;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--blackOverlay); 
            z-index: -1; 
        }
    }

    #heroTitle {
        position: relative;
        left: 20vw;
        top: 50vh;
        width: 70vw;
    }

    /* change grid layout */

    .work {
        text-align: center;
        padding: 30px 0 50px 0;
    }


    #workGrid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "featuredWork"
            "pramed"
            "horiseon"
            "dadimas"
            "ksservice";
    }

    #featuredWork, #pramed, #horiseon, #ksservice, #dadimas {
        height: 40vh;
        width: auto;
    }
    
    .details {
        height: auto;
    }
    
}